<div class="panel-body">
    <div class="border margin">
        <p class="h3 p-3">{{bookDetail.name}}<p> 
        <div class="row ">
            <div class="col-md-3">
                <div class="thumb">
                    <img class="img-fluid" src='{{bookDetail.image}}' alt="{{bookDetail.image}}" />   
                </div>
            </div>
            <div class="col">
                <dl>     
                    <dt>ISBN: </dt> <dd>{{bookDetail.isbn}}</dd>
                    <dt>Descripción: </dt>
                    <dd>{{bookDetail.description}}</dd>
                    <a class="btn btn-secondary"  (onclick)="addCarrito(bookDetail.id)">Añadir al carrito</a>
                    <div class="row">
                            <div class="col">
                                <br>
                                <p class="letra">Crear una reseña</p>
                                <br>
                                <div class="row">
                                <p class="letra">Fuente:</p>
                                </div>
                                <div class="row">
                                    <input type="text" id="comment" value={{source}}>
                                </div>
                                
                                <div class="row">
                                        <p class="letra">Nombre:</p>
                                        </div>
                                        <div class="row">
                                            <input type="text" id="comment" value={{name}}>
                                        </div>
                                        <div class="container-fluid">
                                                
                                        <div class="row">
                                                <input type="text" id="comment" value={{name}}>
                                            </div>

                                                <div class="row">
                                                    <div class="col-med-6" >
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <textarea class="form-control animated" cols="50" id="new-review" name="comment" placeholder="Enter your review here..." rows="5"></textarea>
                                                                <br>
                                                                                    
                                                                <br>
                                                                <button class="btn btn-success btn-lg" type="submit" (click)="createResena()">Create</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                    
                                <br>
                                
                                
                            </div>
                        </div>
                </dl>
            </div>

        </div>

        
    </div>
    <p class="h3 p-3">Libros que te pueden interesar: </p>
    <app-book-list [books]="bookDetail.reviews"></app-book-list>
</div>