<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" *ngFor = "let book of books">

            <!-- Card -->
<div class="card">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src= {{book.image}} alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      
        <!-- Button -->
        <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"></a>
      
        <!-- Card content -->
        <div class="card-body">
      
          <!-- Title -->
          <h4 class="card-title">{{book.name}}</h4>
          <hr>
          <!-- Text -->
          <p class="card-text">{{book.description}}</p>
      
        </div>
      
        <!-- Card footer -->
        <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
          <ul class="list-unstyled list-inline font-small">
            <li class="list-inline-item pr-2 white-text"><i class="far fa-clock pr-1"></i>{{book.publishDate}}</li>
            <button type="button" class="btn btn-secondary" routerLink = "/book/detail">Comprar</button>
                    </ul>
        </div>
      
      </div>
      <!-- Card -->
        </div>

        
    </div>
</div>
