<div class="container">
    <div class="row">
      <div class="col">
        <h2>Envío estándar</h2>
        <p>Si eliges la opción de Envío estándar, te entregaremos tu pedido en 3 días 
          laborables en la mayoría de los casos. Dependiendo de la disponibilidad y ubicación
           del producto, el plazo de entrega podría ser mayor. Este plazo de entrega comienza 
           a ser efectivo en el momento en el que se envía el producto.</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
          <table class="table">
              <thead>
                <tr>
                  <th scope="col"> &nbsp </th>
                  <th scope="col">Tarifa para entregas en puntos de recogida</th>
                  <th scope="col">Tarifa para entregas en otras direcciones de envío</th>
              
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Pedidos a partir de $30.000</td>
                  <td>Gratis</td>
                  <td>$2.000</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Pedidos inferiores a $30.000</td>
                  <td>$3.000 </td>
                  <td>$6.000</td>
                </tr>
               
              </tbody>
            </table>
      </div>
     
    </div>
  </div>