<div class="row">
        <div class="col-6 offset-3">
            <br>
            <h2 class="text-center">Crear una reseña</h2>
            <br>
            <div class="row">
            <h2>Fuente:</h2>
            </div>
            <div class="row">
                <input type="text" id="comment" value={{source}}>
            </div>
            
            <div class="row">
                    <h2>Nombre:</h2>
                    </div>
                    <div class="row">
                        <input type="text" id="comment" value={{name}}>
                    </div>

                    <div class="row">
                            <h2>Comentario:</h2>
                            </div>
                            <div class="row">
                                <input type="text" id="comment" value={{description}}>
                            </div>

            <br>
            <div class="row">
                    <button type="submit" class="btn btn-primary" (click)=" createFoodBlog()" routerLink="/blog/list"> Crear Blog</button>
                    <button type="submit" class="btn btn-danger" (click)="cancelCreation()" routerLink="/blog/list"> Eliminar Blog</button>
            </div>
            
        </div>
    </div>