<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet">
</head>
<!--Carousel Wrapper-->
<!--Carousel Wrapper-->
<div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-1z" data-slide-to="1"></li>
    <li data-target="#carousel-example-1z" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <!--First slide-->
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://lh3.googleusercontent.com/QJSsl4LeFOCsRtof2qIVNLq4op9wsZi7S05A1IU7FZezONzdaXW0Srk42LT3XTaiY2BvGkuJffzc_ryHmyz0p03mMGbRKRcvqYvgm-mTRVWrqmU1MXFawmZgSh1P_uOLsekFzGRUfOx5zCc7fjYLXCUMqLTQD-UafdpK0zZUNT346ih09r13a8vWbA9aNfV9UTZDDfOxyn_c8mlh7YWrp4bQ2iE0CZHSvkhqj-sgsjl5SuZRW3bx68neN_8MVCVVgDWZI1r-IPJLwHco1MQD8Mo_F9taQarM5k1GmKy1j33lCwNI2l5h3qaO2eEYO1ykvklxD7TxMp_786hbdRBWAiorJp56sHjYp3lvkZVAlwM1r8ec26JQ6OUgiOz4PzcdWqc87jw3fwY_ejRDzz-T_Ets4L07XqA7Yhi0CvDd2itKY254i8d-rHuPYY89n2aTkyhzz7cNWjwSdGICcFH5DnDPe4PAKZxRsw8lI0tDrU0qW_b5ip5Cx0tpLzKd_8xQacvDNI43f1R2J-EakNviQipPx1Z12fX4yvvTzwMHjifeoEpOAKEtU5zkwGpuKKhB8cjkcE5gsPV9b_XKw35WFL4FAYEmkgghyXmbC2P5UxEqQYUKvdC3AWCJ6GXPllgXU3PCq1Ck0W8zhVMnmXipg7djtXVMidglVbZlJvxFpXqFOehw4wSohjpkImSpQeq2qLlUS7FvFapSFY8Cf1MR-Qp420Yz21mk9z6Fs7rZSlnqTDKltw=w820-h312-no"
        alt="First slide">
    </div>
    <!--/First slide-->
    <!--Second slide-->
    <div class="carousel-item">
      <img class="d-block w-100" src="https://lh3.googleusercontent.com/lI0rklRs6np3Pp_Hv9i2sRbcJQNH68HAYpgEVEjUBIG5i_kMPTS4YwGMYexPPECyyblivkixv9PKISswSpABib2xhSVofpk3mebT80Pp0zbJOATYibLtq26ADwGKokyURNZB9iYCed4sA0Yo0KBQtedf4xZeCYZGwyVqaJgRlMZeWMj6uwp2aQtWOXoMBFrP1eQL3wTpuPT8_L1VhPO0g7rivouc-hjdz5wSFS3s2Rf6w1VEA_5g2yhIXwWoc8lJfJWncMO-MnP7AYYwX_3BD4M3h3IudeZ1x7uStNAsUPgfnKziJHcHbdEYG656RvkaTdmUIarhvt8SbrX7Egz3EcZIVa74Zoy4TnkxRCjDT5zHS4j5jjkcc4f-vISCIQGha2N2dlNtOj4nypn3f9Yk7E-cnNT-P0sidGc8nAeMkye_3C9cA0rVazuP77T_feumgjtM1FgD4usRC5QLjxJc94Ipom8PzUg4lSZw4H_rUuJgLWbUgGUpDK_RO-z2RwGgvWPi3M6r6IOYdHyc6IOk1Ke18Op6GKhKiZngHmPapb6KmGZZZlbt9uuXayPOXGKKWekHMM0Elh3qG7qVJYO7Aiu8cFydYPZLRcBzG1yAM8i3Ur3l_rgQoE2sv8jg7Jy_IQGcM5HBBuE0Gb6_RbUWrToZgH5WS1glr7xnHIIqiZGko1idyDA2VtepqXqAnUpIxkQIAEI-DzIsprS_EC7z3nEa0qw91fB0cY0GMBkEHbbZrmC-MQ=w820-h312-no"
        alt="Second slide">
    </div>
    <!--/Second slide-->
    <!--Third slide-->
    <div class="carousel-item">
      <img class="d-block w-100" src="https://lh3.googleusercontent.com/f6LmIycScTO0WYpLJm7KCzHGvCqZLUypIe3VmhV8Po_WDMnxChqxghrErwUe1a4IK4DwD6onFeh1DydNguRsh7Apjj30kpFLOJ3RcKkjCBm_GwBckXlC6UPCFnX6v8i4N-0PYkpdeSVYSbgQGYBWHVVGzW7OXaa_EBKkBkTx1PzXR9qU0xBzq20D1c9r5uFVciUf34SKgh_ClIBDPY-VfhmiNmC-58r8UcoK6Ezo9bEpe3-ZCG2RgnbhAdXxUcOhCZgXmQ1qtC4wDuqbz6RWpv8UTtzZLckeV_8WYNcQLmu7I7IhH8EHVyZhwxW-VWXLBGBMmkAIHeeuOQZkExavT6eipOzPLGpDItnsnNNysdLwnd4xywUn-d8JHiUdzQViQVILAORRvU_8kZ9OlTq-JsRIIYddAEeqDv84GIYxVqZH6h0RCSS9RTxjzwKQj-Yjqnsyq02JPhMNrh2ddWVlmZ7Nkr_HsI_Uhagi3MTJNpqGNS9Bk2CMpmZYScqx1VNM-hp8hbTrJ9I8wlJej2iy3trJgjDeNSf0MoIdIJ93Dl50KsJOTUOmz-CVoFG9qz4zm9oiTul5BqOVveVi6fcLmJPv7JNyKOHTIsIebMOs44pnLt_nVyOTdHfaWa9CaDPH1-HEsyhZtCSkRdGiDSGbweMgRcTxGVUCQ4e6FtbUMUh22dt1J6TbRAQjM_93oXl9yF3q1iN9F1r9ncBeL3VXNY5AZqzT840nYPu39DGaP0d43ezjnQ=w820-h312-no"
        alt="Third slide">
    </div>
    <!--/Third slide-->
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->    
      <div class="container">
          <br>

          <h3 class="letrota" >Best-Sellers</h3>
          <br>
      </div>
      <div class="container">
            <div class="row">
              <div class="col-sm">
                            <!-- Card -->
                   <div class="card">
                   
                           <!-- Card image -->
                           <div class="view">
                             <img class="card-img-top" src="../../../assets/fotosRestaurante/restaurante2.PNG" alt="Card image cap">
                             <br>
                             <a href="#!">
                               <div class="mask rgba-white-slight"></div>
                             </a>
                           </div>
                         
                           <!-- Card content -->
                           <div class="card-body">
                         
                             <!-- Title -->
                             <h4 class="card-title letrota">Leo Cocina y Cava</h4>
                             
                         
                           </div>
                         
                         </div>
                         <!-- Card -->
                         <br>
                        
              </div>
              <div class="col-sm">
                <!-- Card -->
                <div class="card">
                   
                        <!-- Card image -->
                        <div class="view">
                          <img class="card-img-top" src="../../../assets/fotosRestaurante/restaurante3.PNG" alt="Card image cap">
                          <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                          </a>
                        </div>
                      
                        <!-- Card content -->
                        <div class="card-body">
                      
                          <!-- Title -->
                          <h4 class="card-title letrota">Pajares Salinas</h4>
                      
                        </div>
                      
                      </div>
              </div>
              <div class="col-sm">
                    <!-- Card -->
                    <div class="card">
                       
                            <!-- Card image -->
                            <div class="view">
                              <img class="card-img-top" src="../../../assets/fotosRestaurante/restaurante4.PNG" alt="Card image cap">
                              <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                              </a>
                            </div>
                          
                            <!-- Card content -->
                            <div class="card-body">
                          
                              <!-- Title -->
                              <h4 class="card-title letrota">La tasca de sevilla</h4>
                          
                            </div>
                          
                          </div>
                  </div>
              <div class="col-sm">
                <!-- Card -->
                <div class="card">
                   
                        <!-- Card image -->
                        <div class="view">
                          <img class="card-img-top" src="../../../assets/fotosRestaurante/restaurante5.PNG" alt="Card image cap">
                          <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                          </a>
                        </div>
                      
                        <!-- Card content -->
                        <div class="card-body">
                      
                          <!-- Title -->
                          <h4 class="card-title letrota">Balzac</h4>
                      
                        </div>
                      
                      </div>
              </div>
            </div>
            <div class="row">
                    <div class="col-sm">
                                  <!-- Card -->
                         <div class="card">
                         
                                 <!-- Card image -->
                                 <div class="view">
                                   <img class="card-img-top" src="../../../assets/fotosRestaurante/restaurante6.PNG" alt="Card image cap">
                                   <a href="#!">
                                     <div class="mask rgba-white-slight"></div>
                                   </a>
                                 </div>
                               
                                 <!-- Card content -->
                                 <div class="card-body">
                               
                                   <!-- Title -->
                                   <h4 class="card-title letrota">La cigale</h4>
                                   
                                   <br>
                               
                                 </div>
                               
                               </div>
                               <!-- Card -->
                               
                              
                    </div>
                    <div class="col-sm">
                      <!-- Card -->
                      <div class="card">
                         
                              <!-- Card image -->
                              <div class="view">
                                <img class="card-img-top" src="../../../assets/fotosRestaurante/restaurante7.PNG" alt="Card image cap">
                                <a href="#!">
                                  <div class="mask rgba-white-slight"></div>
                                </a>
                              </div>
                            
                              <!-- Card content -->
                              <div class="card-body">
                            
                                <!-- Title -->
                                <h4 class="card-title  letrota">Nazca</h4>
                            
                              </div>
                            
                            </div>
                    </div>
                    <div class="col-sm">
                          <!-- Card -->
                          <div class="card">
                             
                                  <!-- Card image -->
                                  <div class="view">
                                    <img class="card-img-top" src="../../../assets/fotosRestaurante/restaurante8.PNG" alt="Card image cap">
                                    <a href="#!">
                                      <div class="mask rgba-white-slight"></div>
                                    </a>
                                  </div>
                                
                                  <!-- Card content -->
                                  <div class="card-body">
                                
                                    <!-- Title -->
                                    <h4 class="card-title letrota">Donostia</h4>
                                    
                                  </div>
                                
                                </div>
                        </div>
                    <div class="col-sm">
                      <!-- Card -->
                      <div class="card">
                         
                              <!-- Card image -->
                              <div class="view">
                                <img class="card-img-top" src="../../../assets/fotosRestaurante/Restaurante1.PNG" alt="Card image cap">
                                <a href="#!">
                                  <div class="mask rgba-white-slight"></div>
                                </a>
                              </div>
                            
                              <!-- Card content -->
                              <div class="card-body">
                            
                                <!-- Title -->
                                <h4 class="card-title letrota">Estrella de los ríos</h4>
                            
                              </div>
                            
                            </div>
                    </div>
                  </div>
          </div>
          <router-outlet></router-outlet>